/* 
		 *********************************
		**Site criado por Julio Lira(Kefa)**
		**https://github.com/Jul10l1r4    **
		**Facebook.com/julio.lira.555     **
		**Jul10l1r4@gmail.com             **
     		**********************************
*/
div.gp{
  min-width:100%;
  min-height:auto
}
div.bc{
  display:table;
  width:24.7%;
  display: inline-block;
  opacity: 0.70;
  transition-duration: 0.1s;
}
div.bc:hover{
  opacity:1;
  transition-duration: 0.1s;
}

div#bloco{
  z-index: 9991;
  background:rgba(2,2,2,0.95);
  position:fixed;
  margin:0;
  width:100%;
  height:100%;
  overflow: hidden;
}
div.central{
  position:relative;
  margin:auto;
  text-align: center;
  display: block;
  padding:05%;
  color:#ddd;
}
div.central img{
  max-width: 60%;
  animation-name:crescer;
  animation-duration:0.80s;
}
@media (max-width:800px){
	div.bc{
		width:45%;
	}
	div.central img{
		max-width: 100%;
	animation-name:crescera;
  animation-duration:0.80s;
	}
	@keyframes crescera{
		0%{
		  max-width: 62%;
		}
		100%{
		  max-width: 100%;
		}
	}
}

@keyframes crescer{
	0%{
	  max-width: 40%;
	}
	100%{
	  max-width: 60%;
	}
}
