/*
  Utilizando os códigos disponível em:
  https://notabug.org/Jul10l1r4/Texto-formatacao
*/
body{
	height:100%;
	width:100%;
	bottom:0;
	margin:0px;
	position:absolute;
	overflow-x: hidden;
}
section{
	margin: auto;
	position: relative;
	left:0;
	padding: 0 20px;
	
}
section a{
	display:inline-block;
	background-color:#ddd;		
	margin:5px;
	width: 300px;/*calc(25% - 13px);*/
	height:200px;
	filter: grayscale(60%);
	filter: blur(0.18px);
}
a img{
	height:150px;
	width:200px;
}
footer{
	background-color:#000;
	bottom:0;
	left:0px;
	text-align:center;
	padding:30px 0px;
	color:#fff;
}
section a:hover{
	filter: grayscale(0%);
	background-color:#bbb;
}
section:hover{
	/* Efeito ah definir */
}
